apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://{{ip}}:3100
    jsonData:
      maxLines: 1000
  
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090