[monitored]
{% for instance in monitored %}
{{instance}} ansible_user=root ansible_password=Utibeabasi6
{%endfor%}

[monitoring]
{{monitoring}} ansible_user=root ansible_password=Utibeabasi6

[logging]
{{logging}} ansible_user=root ansible_password=Utibeabasi6